/* http://meyerweb.com/eric/tools/css/reset/ 
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

div,
li {
  box-sizing: border-box;
}

body {
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --color-dashboard:#047857;
  --color-dashboard-text: #fff;
  --background-color__main: #fafaf9;
  --background-color__secondary: #e5e7eb;
  --background-color__secondary_shadow: #c0c0c0;
  --color-text-gray: #5c5c5c;
}

.container {
  height: 100%;
  display: grid;
  grid: 175px 3fr/1fr 4fr;
}

.header {
  display: grid;
  box-sizing: border-box;
  padding: 10px 20px;
  background-color: var(--background-color__main);
  box-shadow: 2px 2px 5px 1px var(--background-color__secondary_shadow);
  z-index: 1;
}
.header__top {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
.header__search {
  display: flex;
  align-items: center;
}
.header__botom {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}
.header__greating {
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
  margin-left: 10px;
}
.search__btn {
  border: none;
  background-color: transparent;
}
.search__input {
  flex-grow: 1;
  background-color: var(--background-color__secondary);
  border-radius: 15px;
  border: none;
  padding: 5px 10px;
  max-width: 450px;
}

.user-info__list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}
.user-notification {
  border: none;
  background-color: transparent;
}
.user-info__img {
  height: 50px;
  width: 50px;
}
.greating__user-pickture {
  height: 80px;
  width: 80px;
}
.greating__text {
  font-weight: 700;
  font-size: 14px;
}
.greating__text b {
  font-size: 20px;
}

.action__list {
  height: 100%;
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.action__btn {
  background-color: var(--color-dashboard);
  color: var(--color-dashboard-text);
  border-radius: 20px;
  border: none;
  padding: 10px 20px;
}

.dashboard {
  grid-row: 1/3;
  display: grid;
  grid-template-rows: 60px 1fr;
  gap: 100px;
  background-color: var(--color-dashboard);
  color: var(--color-dashboard-text);
  padding: 15px;
}
.dashboard__title {
  font-size: 30px;
  display: flex;
  align-items: center;
}
.dashboard__icon {
  width: 50px;
  height: 50px;
  fill: white;
  margin-right: 10px;
}
.dashboard__links-list {
  display: grid;
  grid-template-rows: repeat(9, 50px);
}
.dashboard__link {
  display: flex;
  align-items: center;
}
.dashboard__link:hover {
  text-decoration: underline;
}
.dashboard__link-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.main {
  grid-area: 2/2;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: minmax(380px, 3fr) minmax(270px, 1fr);
  gap: 25px;
  background-color: var(--background-color__secondary);
  padding: 25px;
}
.main h2 {
  font-weight: semi-bold;
  padding: 10px 0;
  font-size: 24px;
}

.main-content-element {
  padding: 15px;
  border-radius: 8px;
  background-color: var(--background-color__main);
  box-shadow: 2px 2px 5px 1px var(--background-color__secondary_shadow);
}

.projects__list-item {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
.project {
  padding: 40px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 8px #fca13a solid;
}
.project__title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}
.project__text {
  color: var(--color-text-gray);
}
.project__actions-list {
  display: flex;
  gap: 20px;
  align-self: end;
  margin-top: 40px;
}
.project__action-btn {
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-size: contain;
}
.project__svg-icon {
  height: 100%;
  width: 100%;
}

.announcements-and-trending {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.announcements {
  display: flex;
  flex-direction: column;
}
.announcements__list {
  display: flex;
  flex-direction: column;
}
.announcements__list-item {
  padding: 15px;
}
.announcements__list-item:not(:last-child) {
  border-bottom: 1px solid var(--background-color__secondary_shadow);
}

.announcement__title {
  font-weight: 600;
}
.announcement__text {
  margin-top: 10px;
  color: var(--color-text-gray);
}

.trending {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.trending__list {
  display: grid;
  gap: 15px;
  grid-auto-rows: 50px;
  padding: 20px;
}
.card {
  display: grid;
  grid-template-columns: 50px 1fr;
}
.card__img {
  height: 50px;
  width: 50px;
}
.card__name {
  color: var(--color-text-gray);
}/*# sourceMappingURL=style.css.map */